.content{
  padding-left: 4rem;
}

.docSection {
  color: inherit;
  margin-bottom: 2rem;
}

.titlebox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.titlebox .source {
  text-align: right;
  right: 0;
  top: 0;
  margin-left: auto;
  font-size: 80%;
}

.content {
}

.name {
  color: var(--ifm-color-emphasis-800);
}

.highlightedName {
  font-weight: var(--ifm-font-weight-bold);
  color: var(--ifm-code-name-highlight);
}

.titlebox h1,
.titlebox h2,
.titlebox h3,
.titlebox h4,
.titlebox h5,
.titlebox h6 {
  margin: 0;
}

.module {
  font-size:  80%;
  margin: 0 0 0 0;
  color: var(--ifm-color-secondary-darkest);
}

.target {
  display: block;
  transform: translateY(calc(-1 * var(--ifm-navbar-height)));
}
