.sigarg {
  border-top: 1px solid var(--ifm-color-emphasis-300);
  padding: var(--ifm-global-spacing) 0;
  flex-grow: 1;
}

.default {
  color: var(--ifm-color-secondary-darkest);
  font-size: 80%;
}
