/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: "OpenSans Regular";
  src: url("/static/fonts/OpenSans-Regular.ttf") format("truetype");
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}



/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2874da; /* #146ee6; */
  --ifm-menu-color: #333333;
  --ifm-font-color-base: rgba(59, 69, 78, 1);
  --ifm-navbar-background-color:  white;
  --ifm-navbar-link-color: #333;
  --ifm-navbar-height: 3.8rem;
  --ifm-font-family-base: "Roboto Slab Regular", Helvetica, Arial, sans-serif;
  --ifm-font-size-base:  90%;
  --ifm-heading-font-weight:  var(--ifm-font-weight-normal);
  --ifm-menu-link-sublist-icon:  none;
}

.navbar--primary {
    --ifm-navbar-background-color: white; 
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary: #92c1ff;
  --ifm-menu-color: #e6e6e6;
  --ifm-font-color-base: #e6e6e6;
  --ifm-navbar-background-color: rgba(24, 28, 31, 1); 
  --ifm-navbar-link-color: #aaa;
}

@media screen and (min-width: 1440px) {
  .container {
    margin-left: 64px;
  }

  article {
    margin-right: 48px;
  }
}

@media screen and (min-width: 997px) {
  .container {
    margin-left: 32px;
  }

  article {
    margin-right: 24px;
  }
}

.menu {
  font-size: 0.875rem;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  height: 3rem;
}

html[data-theme="light"] aside {
  background: white;
}

p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html[data-theme="dark"] p > img {
  background-color: rgb(255, 255, 255);
}

.dsla-search-wrapper {
  margin-right: var(--aa-spacing);

  --aa-background-color-rgb: 24, 28, 31;
  --aa-background-color-alpha: 1;
  --aa-text-color-rgb: 200, 200, 200;
  --aa-muted-color-rgb: 200, 200, 200;
  --aa-input-background-color-rgb: 24, 28, 31;
  --aa-input-background-color-alpha: 1;
  --aa-primary-color-rgb: 200, 200, 200;
}

.dsla-search-wrapper .aa-DetachedSearchButton {
  border: none;
}

/* Algolia search */
[data-theme="light"] .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-highlight-color: var(--ifm-color-primary);
}
